{% extends 'base.html' %}
{% block title %}Home - Website{% endblock %}

{% block content %}
    <div class="video-container">
        {% for video in videos %}
            <div class="video-card">
                <video width="320" height="240" controls>
                    <source src="{{ video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="title">
                    {{ video.filename }}
                </div>
                <button class="options-btn" onclick="toggleOptionsMenu(this)"><i class="fas fa-ellipsis-v"></i></button>
            <div class="options-menu">

            <a href="{% url 'delete_video' video.filename %}">Delete</a>

                <a href="#">Report</a>
            </div>
            </div>
        {% endfor %}
    </div>
 <script>
        function toggleOptionsMenu(btn) {
            var videoCard = btn.parentElement;
            var optionsMenu = videoCard.querySelector('.options-menu');
            optionsMenu.classList.toggle('show');
        }


    </script>

{% endblock %}
