{% extends 'base.html' %}

{% block title %}Upload - Website{% endblock %}

{% block content %}
<div class="upload-container">
    <h2>Upload</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <label >Title</label>
        {{ form.title }}
        <br>

        <div class="report-container">
    <form method="post">
        {% csrf_token %}
        <h2>Report Video</h2>
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
</div>
        {{ form.description }}
        <br>

        <label >Video File</label>
        {{ form.video_file }}
        <br><br>

        <button type="submit">Upload</button>
    </form>
</div>
{% endblock %}